.git
.gitignore
.gitattributes
.env

DOCKER_README.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
ISSUE_TEMPLATE.md

.idea
.vscode
*.swp
*.swo
*~

*.log
tmp/
temp/

installed_*/
var/installed
GameEngine/config.php
GameEngine/Admin/Mods/constant_format.tpl
